* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.list {
	margin: 50px auto;
	width: 960px
}

.list-item {
	padding: 20px;
	text-align: left;
	color: #808080;
}

.list-item:nth-child(odd) {
	background-color: #c0c0c0;
}

.box {
	width: 960px;
	margin: 0 auto 50px;
}

.box-item {
	width: 30%;
	height: 200px;
	background-color: yellow;
	float: left;
}

.box-item:nth-child(1) {
	background-color: orange;
}

.box-item:nth-child(2) {
	margin: 0 5%;
}

.box-item:nth-child(4) {
	margin: 40px 0;
}

.box-item:nth-child(5) {
	background-color: orange;
	margin: 40px 5%;
}

.box-item:nth-child(6) {
	margin: 40px 0;
}

.box-item:nth-child(8) {
	margin: 0 5%;
}

.box-item:nth-child(9) {
	background-color: orange;
}

